# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from ...types.connection_proxy_call import ConnectionProxyCall
from ...types.connection_proxy_settings_envelope import ConnectionProxySettingsEnvelope
from ...types.execute_connection_proxy_envelope import ExecuteConnectionProxyEnvelope
from ...types.get_connection_proxy_info_envelope import GetConnectionProxyInfoEnvelope
from .raw_client import AsyncRawProxyClient, RawProxyClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class ProxyClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawProxyClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawProxyClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawProxyClient
        """
        return self._raw_client

    def execute_proxy(
        self,
        id: str,
        *,
        request: ConnectionProxyCall,
        async_: typing.Optional[bool] = OMIT,
        idempotency_key: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ExecuteConnectionProxyEnvelope:
        """
        Proxies an HTTP request to a connection's underlying API using the connection's stored credentials, subject to per-connection rate limits and size caps.

        This endpoint is intended for controlled passthrough use, not as a general
        replacement for Polytomic's modeled endpoints. The request is executed with the
        connection's stored credentials and inherited base URL, headers, and query
        parameters.

        Before building requests dynamically, call
        [`GET /api/connections/{id}/proxy/info`](../../../../api-reference/connections/get-proxy-info)
        to inspect the inherited base URL, blocked headers, accepted body types, and
        size and rate limits.

        ## Important behavior

        - `request.path` must be relative and start with `/`.
        - Use either `request.query` or `request.rawQuery`, not both.
        - Caller-supplied headers are merged with inherited headers, but inherited auth
          headers cannot be overridden.
        - The proxy strips a fixed set of request and response headers for safety.
        - Response bodies larger than the configured maximum are truncated, and
          `truncated` is set to `true`.

        To run a `GET` request asynchronously, set `async` to `true`. The initial
        response returns `status: 202`, `jobId`, `jobStatus`, and `jobUrl`. Poll
        [`GET /api/jobs/{type}/{id}`](../../../../api-reference/jobs/get-job) with
        `type=connectionproxy` and the returned `jobId` until the job is complete. The
        completed job result includes the upstream `status`, sanitized `headers`,
        `contentType`, `contentLength`, `latencyMs`, and a short-lived
        `bodyDownloadUrl` for the upstream response body.

        The response includes `proxyCallId`, which you can use to correlate the call
        with audit logs.

        Parameters
        ----------
        id : str
            Unique identifier of the connection to proxy the request through.

        request : ConnectionProxyCall

        async_ : typing.Optional[bool]
            When true, submits a GET request for asynchronous execution and returns a job handle instead of a synchronous upstream response.

        idempotency_key : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ExecuteConnectionProxyEnvelope
            OK

        Examples
        --------
        from polytomic import ConnectionProxyCall, Polytomic

        client = Polytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )
        client.connections.proxy.execute_proxy(
            id="248df4b7-aa70-47b8-a036-33ac447e668d",
            request=ConnectionProxyCall(
                method="GET",
                path="/v1/objects",
            ),
        )
        """
        _response = self._raw_client.execute_proxy(
            id, request=request, async_=async_, idempotency_key=idempotency_key, request_options=request_options
        )
        return _response.data

    def get_proxy_info(
        self, id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GetConnectionProxyInfoEnvelope:
        """
        Returns the proxy contract for a connection.

        Use this endpoint before calling
        [`POST /api/connections/{id}/proxy`](../../../../../api-reference/connections/execute-proxy)
        when you need to build requests programmatically. The response shows:

        - the inherited base URL that all proxied requests are sent to
        - locked headers and query parameters that are attached automatically
        - blocked request and response headers
        - allowed HTTP methods and body shapes
        - timeout, rate-limit, and payload-size limits

        Sensitive inherited header and query values are redacted in the response. The
        contract is still useful for discovering which keys are fixed by the
        connection, even though their raw values are not exposed.

        Parameters
        ----------
        id : str
            Unique identifier of the connection whose proxy contract should be returned.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetConnectionProxyInfoEnvelope
            OK

        Examples
        --------
        from polytomic import Polytomic

        client = Polytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )
        client.connections.proxy.get_proxy_info(
            id="248df4b7-aa70-47b8-a036-33ac447e668d",
        )
        """
        _response = self._raw_client.get_proxy_info(id, request_options=request_options)
        return _response.data

    def get_proxy_settings(
        self, id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ConnectionProxySettingsEnvelope:
        """
        Returns whether a connection can be used through the Connection Proxy API.

        The setting is stored on the parent connection. When you request settings for a
        shared connection, the response includes both the requested `connectionId` and the
        `parentConnectionId` that controls proxy access. For non-shared connections,
        `parentConnectionId` is omitted.

        Parameters
        ----------
        id : str
            Unique identifier of the connection whose proxy settings should be returned.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ConnectionProxySettingsEnvelope
            OK

        Examples
        --------
        from polytomic import Polytomic

        client = Polytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )
        client.connections.proxy.get_proxy_settings(
            id="248df4b7-aa70-47b8-a036-33ac447e668d",
        )
        """
        _response = self._raw_client.get_proxy_settings(id, request_options=request_options)
        return _response.data

    def update_proxy_settings(
        self,
        id: str,
        *,
        enabled: bool,
        idempotency_key: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ConnectionProxySettingsEnvelope:
        """
        Enables or disables use of a connection through the Connection Proxy API.

        The setting is stored on the parent connection. To update proxy access for a
        shared connection, the caller must have edit permission for the parent
        connection.

        Enabling proxy access requires a backend that supports the Connection Proxy API.
        If the connection backend is unsupported, the request returns `400 Bad Request`.
        Disabling proxy access is allowed for any connection the caller can edit.

        Setting `enabled` to `false` prevents proxy calls for the connection.

        Parameters
        ----------
        id : str
            Unique identifier of the connection whose proxy settings should be updated.

        enabled : bool
            Whether the connection can be used through the Connection Proxy API.

        idempotency_key : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ConnectionProxySettingsEnvelope
            OK

        Examples
        --------
        from polytomic import Polytomic

        client = Polytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )
        client.connections.proxy.update_proxy_settings(
            id="248df4b7-aa70-47b8-a036-33ac447e668d",
            enabled=True,
        )
        """
        _response = self._raw_client.update_proxy_settings(
            id, enabled=enabled, idempotency_key=idempotency_key, request_options=request_options
        )
        return _response.data


class AsyncProxyClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawProxyClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawProxyClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawProxyClient
        """
        return self._raw_client

    async def execute_proxy(
        self,
        id: str,
        *,
        request: ConnectionProxyCall,
        async_: typing.Optional[bool] = OMIT,
        idempotency_key: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ExecuteConnectionProxyEnvelope:
        """
        Proxies an HTTP request to a connection's underlying API using the connection's stored credentials, subject to per-connection rate limits and size caps.

        This endpoint is intended for controlled passthrough use, not as a general
        replacement for Polytomic's modeled endpoints. The request is executed with the
        connection's stored credentials and inherited base URL, headers, and query
        parameters.

        Before building requests dynamically, call
        [`GET /api/connections/{id}/proxy/info`](../../../../api-reference/connections/get-proxy-info)
        to inspect the inherited base URL, blocked headers, accepted body types, and
        size and rate limits.

        ## Important behavior

        - `request.path` must be relative and start with `/`.
        - Use either `request.query` or `request.rawQuery`, not both.
        - Caller-supplied headers are merged with inherited headers, but inherited auth
          headers cannot be overridden.
        - The proxy strips a fixed set of request and response headers for safety.
        - Response bodies larger than the configured maximum are truncated, and
          `truncated` is set to `true`.

        To run a `GET` request asynchronously, set `async` to `true`. The initial
        response returns `status: 202`, `jobId`, `jobStatus`, and `jobUrl`. Poll
        [`GET /api/jobs/{type}/{id}`](../../../../api-reference/jobs/get-job) with
        `type=connectionproxy` and the returned `jobId` until the job is complete. The
        completed job result includes the upstream `status`, sanitized `headers`,
        `contentType`, `contentLength`, `latencyMs`, and a short-lived
        `bodyDownloadUrl` for the upstream response body.

        The response includes `proxyCallId`, which you can use to correlate the call
        with audit logs.

        Parameters
        ----------
        id : str
            Unique identifier of the connection to proxy the request through.

        request : ConnectionProxyCall

        async_ : typing.Optional[bool]
            When true, submits a GET request for asynchronous execution and returns a job handle instead of a synchronous upstream response.

        idempotency_key : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ExecuteConnectionProxyEnvelope
            OK

        Examples
        --------
        import asyncio

        from polytomic import AsyncPolytomic, ConnectionProxyCall

        client = AsyncPolytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.connections.proxy.execute_proxy(
                id="248df4b7-aa70-47b8-a036-33ac447e668d",
                request=ConnectionProxyCall(
                    method="GET",
                    path="/v1/objects",
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.execute_proxy(
            id, request=request, async_=async_, idempotency_key=idempotency_key, request_options=request_options
        )
        return _response.data

    async def get_proxy_info(
        self, id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GetConnectionProxyInfoEnvelope:
        """
        Returns the proxy contract for a connection.

        Use this endpoint before calling
        [`POST /api/connections/{id}/proxy`](../../../../../api-reference/connections/execute-proxy)
        when you need to build requests programmatically. The response shows:

        - the inherited base URL that all proxied requests are sent to
        - locked headers and query parameters that are attached automatically
        - blocked request and response headers
        - allowed HTTP methods and body shapes
        - timeout, rate-limit, and payload-size limits

        Sensitive inherited header and query values are redacted in the response. The
        contract is still useful for discovering which keys are fixed by the
        connection, even though their raw values are not exposed.

        Parameters
        ----------
        id : str
            Unique identifier of the connection whose proxy contract should be returned.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetConnectionProxyInfoEnvelope
            OK

        Examples
        --------
        import asyncio

        from polytomic import AsyncPolytomic

        client = AsyncPolytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.connections.proxy.get_proxy_info(
                id="248df4b7-aa70-47b8-a036-33ac447e668d",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_proxy_info(id, request_options=request_options)
        return _response.data

    async def get_proxy_settings(
        self, id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ConnectionProxySettingsEnvelope:
        """
        Returns whether a connection can be used through the Connection Proxy API.

        The setting is stored on the parent connection. When you request settings for a
        shared connection, the response includes both the requested `connectionId` and the
        `parentConnectionId` that controls proxy access. For non-shared connections,
        `parentConnectionId` is omitted.

        Parameters
        ----------
        id : str
            Unique identifier of the connection whose proxy settings should be returned.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ConnectionProxySettingsEnvelope
            OK

        Examples
        --------
        import asyncio

        from polytomic import AsyncPolytomic

        client = AsyncPolytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.connections.proxy.get_proxy_settings(
                id="248df4b7-aa70-47b8-a036-33ac447e668d",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_proxy_settings(id, request_options=request_options)
        return _response.data

    async def update_proxy_settings(
        self,
        id: str,
        *,
        enabled: bool,
        idempotency_key: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ConnectionProxySettingsEnvelope:
        """
        Enables or disables use of a connection through the Connection Proxy API.

        The setting is stored on the parent connection. To update proxy access for a
        shared connection, the caller must have edit permission for the parent
        connection.

        Enabling proxy access requires a backend that supports the Connection Proxy API.
        If the connection backend is unsupported, the request returns `400 Bad Request`.
        Disabling proxy access is allowed for any connection the caller can edit.

        Setting `enabled` to `false` prevents proxy calls for the connection.

        Parameters
        ----------
        id : str
            Unique identifier of the connection whose proxy settings should be updated.

        enabled : bool
            Whether the connection can be used through the Connection Proxy API.

        idempotency_key : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ConnectionProxySettingsEnvelope
            OK

        Examples
        --------
        import asyncio

        from polytomic import AsyncPolytomic

        client = AsyncPolytomic(
            "2025-09-18",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.connections.proxy.update_proxy_settings(
                id="248df4b7-aa70-47b8-a036-33ac447e668d",
                enabled=True,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_proxy_settings(
            id, enabled=enabled, idempotency_key=idempotency_key, request_options=request_options
        )
        return _response.data
